<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--description-->
<meta name="description" content="{[description]}" />
<!--Keywords-->
<meta name="keywords" content="{[keywords]}" />
</head>
<!--[LoadingArea]-->
<div id='container'>
<style>#container{opacity:0;}</style>
<!--[MainTitle]--><title>{[title]}-{[sitename]}</title><!--[MainTitleEnd]-->
<body>
<!--[PostTitle]-->{[title]}<!--[PostTitleEnd]-->
<!--[PostDate]-->{[date]}<!--[PostDateEnd]-->
<!--[PostContent]-->
{[content]}
<!--[PostContentEnd]-->
<!--[PostTag]-->{[tags]}<!--[PostTagEnd]-->
<!--[PostID]-->{[pid]}<!--[PostIDEnd]-->
<!--[PostCover]-->{[cover]}<!--[PostCoverEnd]-->
<div style='display:none;'><!--[PageType]-->{[type]}<!--[PageTypeEnd]--></div>
<script src="./main.js?233"></script>
<script>B.tpcheck();</script>
</body>
</div>
