{(Tags)}
<div class='posts'>
  <h3 class='paneltitle' id='tagtitle'>Tags</h3>
  <hr>
  <h2>{[tags]}</h2>
  <hr></div>
  {(PageType)}{[pagetype]}{(PageTypeEnd)}
{(TagsEnd)}
{(TagItemTemplate)}
[<a href='{[tagitemlink]}' class='itemlink'>{[tagitemtitle]}</a>]
{(TagItemTemplateEnd)}
{(TagListTemplate)}
<ul>{[taglist]}</ul>
{(TagListTemplateEnd)}
{(TagListItemTemplate)}
<li><a class='taglink' href='{[taglistitemlink]}'>{[taglistitemtitle]}</a></li><!--当前标签：{[tagcurrent]} 日期：{[taglistitemdate]}-->
{(TagListItemTemplateEnd)}